<form class="register-form" #registerForm="ngForm" (ngSubmit)="registerUser()" [style.fontSize.px]="20">
    <div class="register-block">
        <div class="row">
            <h3>Register User</h3>
        </div>
        <div class="row">
            <mat-form-field class="register-input-full-width">
                <input id="firstName" matInput placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName">
            </mat-form-field>
            <mat-form-field class="register-input-full-width">
                <input id="lastName" matInput placeholder="Last Name" [(ngModel)]="newUser.lastName" name="lastName">
            </mat-form-field>
            <mat-form-field class="register-input-full-width">
                <input matInput id="userId" placeholder="User Id" [(ngModel)]="newUser.userId" name="userId"
                required minlength="5" maxlength="10" #userId="ngModel">
            </mat-form-field>
            <mat-form-field class="register-input-full-width">
                <input matInput id="password" placeholder="Password" type="password" name="password" [(ngModel)]="newUser.password">
              </mat-form-field>
        </div>
        <div class="row">
            <button class="register-user" mat-raised-button color="primary" type="submit" (click)="registerUser()">Regiser
            <!-- <button class="register-user" mat-raised-button color="primary" type="submit" (click)="registerUser()">Regiser -->
            </button>
            <!-- <button mat-raised-button color="primary" (click)="resetInput()">Clear</button> -->
        </div>
    </div>
</form>