  .register-block{
    margin:auto;
    width:30%;
    display:flex;
    /* padding: 10px;
    padding-top: 50px; */
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
  }
  h3 {
    align-content: center;
  }

  .register-input-full-width{
    width: 50%;
  }